<framed-breadcrumbs [breadcrumbs]="breadcrumbs"></framed-breadcrumbs>
<div class="h-full flex flex-col gap-10 items-center justify-center w-full p-4 text-dark-3">
    <div class="w-24 h-24">
        <img src="assets/icon.png">
    </div>
    I am a content routed component.

    <framed-checkbox></framed-checkbox>

    <div class="bg-info- w-[500px]">
        <framed-form [form]="form"></framed-form>
    </div>



    <div class="flex items-center">
        <framed-button [button]="button"></framed-button>
        <framed-button [button]="button2">With a count</framed-button>
        <framed-button [button]="button3">Custom rendered component: </framed-button>
    </div>

    <framed-toggle [toggle]="toggle1"></framed-toggle>
    <framed-toggle [toggle]="toggle2"></framed-toggle>

<!--    <framed-typeahead [typeahead]="typeahead"></framed-typeahead>-->

    <framed-radio-components>
        <div class="bg-success-3">
            asdf
        </div>
    </framed-radio-components>
    <code-block></code-block>
</div>
