@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700';

$font-family: 'Ubuntu', sans-serif;

body {
    color: rgba(238, 238, 238, 1);
    //font-family: "Ubuntu Mono", system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    //    Segoe UI Emoji;
    font-family: $font-family;
    margin: 0;
}

//@import "prismjs/themes/prism.css";
/* Available themes */
 //@import "prismjs/themes/prism-coy.css";
// @import "prismjs/themes/prism-dark.css";
// @import "prismjs/themes/prism-funky.css";
 @import "prismjs/themes/prism-okaidia.css";
// @import "prismjs/themes/prism-solarizedlight.css";
// @import "prismjs/themes/prism-tomorrow.css";
// @import "prismjs/themes/prism-twilight.css";

.popper-custom {
    padding: 0 !important;
    margin: 0 !important;;
    border-radius: 0 !important;;
    border: 0 !important;
    box-shadow: none !important;
}

.popper-custom-arrow {
    display: none;
}
